#root {
  width: 100%;
}

.page-background {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/images/background_prairie_pokemon.jpg);
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  display: flex;
  justify-content: right;
  padding: 30px 0 0 0;
  width: 80%;
  margin: 0 auto;
}

h1 {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

@media (max-width: 960px) {
  header {
    height: 200px;
    justify-content: center;
    align-items: end;
  }
}
