#root {
  width: 100%;
}

.page-background {
  width: 100%;
  min-height: 100vh;
  background-color: #f8dcdc;
}

.card {
  height: 200px;
  width: 200px;
  background-color: #fa7474;
  border-radius: 15px;
}
