.game-page,
.start-page {
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 80%;
  margin: auto;
}

.scores {
  padding: 30px 30px 0 30px;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.score-ctnr {
  display: flex;
}

.score-label {
  width: 100px;
  text-align: right;
}

.score-number {
  width: 50px;
  text-align: right;
}

.card-display {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  height: 200px;
  width: 200px;
  background-color: #fa7474;
  border-radius: 15px;
  background-size: contain;
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
