.game-page,
.start-page {
  width: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scores {
  padding: 30px 10% 0 0;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.score-ctnr {
  display: flex;
}

.score-label {
  width: 100px;
  text-align: right;
}

.score-number {
  width: 50px;
  text-align: right;
}

.card-display {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-container {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
}

.card-front {
  background-color: #fa7474;
  background-size: contain;
}

.card-back {
  background-image: url("../assets/images/pokemon_card_backside.png");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
