.game-page,
.start-page {
  width: 100%;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-display {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  height: 200px;
  width: 200px;
  background-color: #fa7474;
  border-radius: 15px;
}
